<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iOS历史应用下载</title>
    <style>
        #verifyForm {
            display: block;
            /* 初始状态隐藏 */
        }

        .app-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            cursor: pointer;
            /* 使 appItem 看起来可以点击 */
            background-color: #f0f0f0;
            /* 默认背景色 */
            transition: background-color 0.3s;
            /* 添加过渡效果 */
        }

        .app-item:hover,
        .app-item.selected {
            background-color: #d0d0d0;
            /* 选中或悬停时的背景色 */
        }

        .app-image {
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }

        .app-details {
            flex-grow: 1;
        }

        .scroll-container {
            height: 300px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
        }

        #error-banner {
            display: none;
            background-color: #ffcccc;
            color: #cc0000;
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #cc0000;
        }

        .version-list {
            height: 300px;
            width: 1000px;
            max-height: 200px;
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 10px;
        }

        .version-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            cursor: pointer;
            padding: 5px;
            border: 1px solid #ccc;
        }

        .version-item.selected {
            background-color: #b3d4fc;
        }
    </style>
    <script>
        var showAllVersion = false;
        const TaskStatus = {
            INIT: 0,
            INPUT_LOGIN_INFO: 1,
            LOGINING: 2,
            LOGINED: 3,
            LOGINING_2FA: 4,
            LOGINED_2FA: 5,
            SELECTED_APP: 6,
            GET_VERSION_LIST: 7,
            SELECT_VERSION_LIST: 8,
            START_DOWNLOAD_IPA : 9,
            FINISH_DOWNLOAD_IPA : 10,
        };

        function startPolling() {
            let pollingInterval = setInterval(() => {
                var taskId = getCookie('task_id');
                console.log('task_id:', taskId);

                if (taskId == undefined || taskId.length == 0) {
                    return
                }

                fetch(`/taskInfo`, {
                    method: "POST"
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('taskInfo code:', data.code, " msg:", data.message);

                        if (data.code == 0) {
                            task_status = data["taskInfo"]["task_status"]
                            console.log('task_status:', task_status);

                            if (task_status == TaskStatus.LOGINED || task_status == TaskStatus.LOGINED_2FA) {
                                console.log('账号密码登录成功');
                                showErrorBanner("请查询需要下载的应用");

                            } else if (task_status == TaskStatus.LOGINING_2FA) {
                                console.log('账号密码需要二次验证');
                                document.getElementById('verifyForm').style.display = 'block'; // 显示验证码表单
                                showErrorBanner("请输入验证码");
                            } else if (task_status == TaskStatus.SELECTED_APP) {
                                console.log('等待获取App版本信息');
                            } else if (task_status == TaskStatus.GET_VERSION_LIST) {
                                
                                if (!showAllVersion) {
                                    console.log('获取到了App版本信息');
                                    showAllVersion = true;
                                    showVersionList(data["taskInfo"]["all_version"]);
                                }
                                
                            } else if (task_status == TaskStatus.START_DOWNLOAD_IPA) {
                                console.log('开始下载IPA文件');
                                showErrorBanner("正在下载，请稍候");
                            } else if (task_status == TaskStatus.FINISH_DOWNLOAD_IPA) {
                                console.log('下载IPA文件完成');
                            }
                        }
                    })
                    .catch((error) => {
                        console.error('错误:', error);
                    });
            }, 5000);
        }
        startPolling();

        function loginForm(event) {
            event.preventDefault(); // 阻止表单默认提交行为

            const form = document.getElementById('loginForm');
            const formData = new FormData(form);

            fetch("/login", {
                method: "POST",
                body: new URLSearchParams(formData)
            })
                .then(response => response.json())
                .then(data => {
                    var taskId = getCookie('task_id');
                    console.log('task_id:', taskId);

                    if (data.code != 0) {
                        console.log("/login failed, code:", data.code, " msg:", data.message);
                        showErrorBanner(data.message);
                    }
                })
                .catch((error) => {
                    console.error('错误:', error);
                });
        }



        function submitVerify(event) {
            event.preventDefault(); // 阻止表单默认提交行为

            const form = document.getElementById('verifyForm');
            const formData = new FormData(form);

            fetch("/verifyCode", {
                method: "POST",
                body: new URLSearchParams(formData)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.code != 0) {
                        console.log("/verifyCode failed, code:", data.code, " msg:", data.message);
                        showErrorBanner(data.message);
                    }
                })
                .catch((error) => {
                    console.error('错误:', error);
                });
        }

        function submitSearch(event) {
            event.preventDefault(); // 阻止表单默认提交行为

            const form = document.getElementById('searchForm');
            const formData = new FormData(form);

            fetch("/searchApp", {
                method: form.method,
                body: new URLSearchParams(formData)
            })
                .then(response => response.json())
                .then(data => {
                    // if (data.code != 0) {
                    //     console.log("/searchApp failed, code:", data.code, " msg:", data.message);
                    //     showErrorBanner(data.message);
                    // }

                    showAppList(data);
                })
                .catch((error) => {
                    console.error('错误:', error);
                });
        }

        function toggleSelect(item) {
            item.classList.toggle('selected');
        }

        function showErrorBanner(message) {
            const banner = document.getElementById('error-banner');
            banner.textContent = message;
            banner.style.display = 'block';
        }

        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }

        function formatFileSize(bytes) {
            if (bytes < 1024) {
                return bytes + ' B';
            } else if (bytes < 1024 * 1024) {
                return (bytes / 1024).toFixed(2) + ' KB';
            } else if (bytes < 1024 * 1024 * 1024) {
                return (bytes / (1024 * 1024)).toFixed(2) + ' MB';
            } else {
                return (bytes / (1024 * 1024 * 1024)).toFixed(2) + ' GB';
            }
        }


        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('sendAppInfo').addEventListener('click', function () {
                const selectedAppItem = document.querySelector('.app-item.selected');
                if (selectedAppItem) {
                    const appData = JSON.parse(selectedAppItem.dataset.appData);

                    fetch('/selectApp', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(appData)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.code != 0) {
                                console.log("/searchApp failed, code:", data.code, " msg:", data.message);
                                showErrorBanner(data.message);
                            }
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                } else {
                    alert('请先选择一个应用');
                }
            });


            document.getElementById('submitSelectedVersion').addEventListener('click', function () {
                const selectedVersions = document.querySelectorAll('.version-item.selected');
                const selectedVersionData = Array.from(selectedVersions).map(versionItem => {
                    return {
                        bundle_short_version_string: versionItem.querySelector('span:nth-child(2)').textContent,
                        app_ver_id: versionItem.querySelector('span:nth-child(3)').textContent
                    };
                });

                console.log('选中的版本:', selectedVersionData);
                fetch('/selectAppAppVersion', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(selectedVersionData)
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.code != 0) {
                        console.log("/selectAppAppVersion failed, code:", data.code, " msg:", data.message);
                        showErrorBanner(data.message);
                    }
                    })
                    .catch((error) => {
                        console.error('错误:', error);
                    });
            });
        });



        function showAppList(data) {

            // 获取显示区域
            const appList = document.getElementById('app-list');
            appList.innerHTML = ''; // 清空之前的列表

            // 遍历 results 数组并创建 HTML 元素

            data.results.forEach(app => {
                const appItem = document.createElement('div');
                appItem.className = 'app-item';

                const appImage = document.createElement('img');
                appImage.src = app.artworkUrl60;
                appImage.alt = app.trackName;
                appImage.className = 'app-image';

                const appDetails = document.createElement('div');
                appDetails.className = 'app-details';

                const appName = document.createElement('h3');
                appName.textContent = app.trackName;

                const appDescription = document.createElement('p');
                appDescription.textContent = app.description;

                const appInfo = document.createElement('div');
                appInfo.className = 'app-info';

                const appVersion = document.createElement('span');
                appVersion.textContent = `版本: ${app.version}`;

                const appPrice = document.createElement('span');
                appPrice.textContent = `价格: ${app.formattedPrice}`;

                const appFileSize = document.createElement('span');
                appFileSize.textContent = `文件大小: ${formatFileSize(parseInt(app.fileSizeBytes))}`;

                const appSeller = document.createElement('span');
                appSeller.textContent = `卖家: ${app.sellerName}`;

                appInfo.appendChild(appVersion);
                appInfo.appendChild(appPrice);
                appInfo.appendChild(appFileSize);
                appInfo.appendChild(appSeller);

                appDetails.appendChild(appName);
                //appDetails.appendChild(appDescription);
                appDetails.appendChild(appInfo);

                appItem.appendChild(appImage);
                appItem.appendChild(appDetails);

                // 设置 appData 数据
                appItem.dataset.appData = JSON.stringify(app);

                appItem.addEventListener('click', function () {
                    // 移除所有 app-item 的 selected 类
                    document.querySelectorAll('.app-item').forEach(item => item.classList.remove('selected'));
                    // 为当前点击的 app-item 添加 selected 类
                    this.classList.add('selected');
                    const appData = JSON.parse(this.dataset.appData);
                    document.getElementById('selectedAppName').value = appData.trackName;
                    console.log(appData);
                });

                appList.appendChild(appItem);
            });
        }

        function showVersionList(versions) {
            const versionListContainer = document.getElementById('version-list');
            versionListContainer.innerHTML = ''; // 清空现有内容

            const decodedVersions = atob(versions);

            // 解析JSON对象
            const versionArray = JSON.parse(decodedVersions);

            versionArray.forEach((version, index) => {
                const versionItem = document.createElement('div');
                versionItem.className = 'version-item';
                versionItem.onclick = function () {
                    toggleSelect(this);
                };

                const numberSpan = document.createElement('span');
                numberSpan.textContent = index + 1;

                const versionSpan = document.createElement('span');
                versionSpan.textContent = version["bundle_short_version_string"]; // 假设版本号在version字段中

                const idSpan = document.createElement('span');
                idSpan.textContent = version["app_ver_id"];

                versionItem.appendChild(numberSpan);
                versionItem.appendChild(versionSpan);
                versionItem.appendChild(idSpan);

                versionListContainer.appendChild(versionItem);
            });
        }
    </script>
</head>

<body>
    <div id="error-banner">错误信息</div>
    <h1>登录表单</h1>
    <form id="loginForm" method="POST" onsubmit="loginForm(event)">
        <label for="username">用户名:</label>
        <input type="text" id="username" name="username" value="fsi2clsfiz8@163.com" required>
        <br>
        <label for="password">密码:</label>
        <input type="password" id="password" name="password" value="Ls112211" required>
        <br>
        <input type="submit" value="登录">
    </form>
    <br>
    <form id="verifyForm" method="POST" onsubmit="submitVerify(event)">
        <label for="verifyCode">验证码:</label>
        <input type="text" id="verifyCode" name="verifyCode" required>
        <input type="submit" value="提交验证码">
    </form>

    <form id="searchForm" method="POST" onsubmit="submitSearch(event)">
        <label for="verifyCode">搜索应用:</label>
        <input type="text" id="appName" name="appName" required>
        <input type="text" id="country" name="country" value="cn" required>
        <input type="submit" value="应用名称">
    </form>

    <div class="scroll-container">
        <div id="app-list"></div>
    </div>
    <input type="text" id="selectedAppName" placeholder="选中的应用名称" readonly>
    <button id="sendAppInfo">查询应用版本信息</button>


    <div class="version-list" id="version-list"> </div>
    <button id="submitSelectedVersion">提交选中的版本</button>
</body>

</html>